<ion-header>
  <ion-toolbar>
    <ion-title>Select Academia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-item>
          <ion-label>Faculty</ion-label>
          <ion-select [(ngModel)]="selectedFaculty" (ionChange)="onFacultyChange()" placeholder="Select Faculty">
            <ion-select-option *ngFor="let faculty of faculties" [value]="faculty.id">{{ faculty.facultyName }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="3">
        <ion-item>
          <ion-label>Department</ion-label>
          <ion-select [(ngModel)]="selectedDepartment" (ionChange)="onDepartmentChange()" placeholder="Select Department" [disabled]="!selectedFaculty">
            <ion-select-option *ngFor="let department of departments" [value]="department.departmentName">{{ department.departmentName }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="3">
        <ion-item>
          <ion-label>Course</ion-label>
          <ion-select [(ngModel)]="selectedCourse" (ionChange)="onCourseChange()" placeholder="Select Course" [disabled]="!selectedDepartment">
            <ion-select-option *ngFor="let course of courses" [value]="course.courseName">{{ course.courseName }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="3">
        <ion-item>
          <ion-label>Module</ion-label>
          <ion-select [(ngModel)]="selectedModule" placeholder="Select Module" [disabled]="!selectedCourse">
            <ion-select-option *ngFor="let module of modules" [value]="module.moduleName">{{ module.moduleName }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
