<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-button class="back-icon">Back
      <ion-icon slot="icon" name="arrow-back" class="back-icon"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-background">
  <ion-title class="page-title">VIEW ALL USERS</ion-title>
  <div class="search-container">
    <ion-icon name="search" class="search-icon"></ion-icon>
    <input type="text" placeholder="Search documents..." class="search-input">
    <ion-button class="search-button">Search</ion-button>
  </div>

  <div class="table-container">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr class="titles">
            <th>Email</th>
            <th>Staff Number</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users" class="details">
            <td>{{user.email}}</td>
            <td>{{user.staffNumber}}</td>
            <td>{{user.role}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="slogan">
      Designed with <ion-icon name="heart" class="heart-icon"></ion-icon> by MUT INNOVATION LAB
    </ion-title>
  </ion-toolbar>
</ion-footer>
