<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">
    <ion-card class="login-card">
      <div class="card-header">
        <h1>Welcome Back</h1>
        <p>Enter your credentials to access your account</p>
      </div>
      
      <form (ngSubmit)="validate()">
        <div class="input-group">
          <ion-item lines="none">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-input type="email" placeholder="Email" [(ngModel)]="email" name="email"></ion-input>
          </ion-item>
        </div>
        
        <div class="input-group">
          <ion-item lines="none">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input type="password" placeholder="Password" [(ngModel)]="password" name="password"></ion-input>
          </ion-item>
        </div>
        
        <ion-button expand="block" type="submit" class="login-button">
          Sign In
        </ion-button>
        
        <div class="forgot-password">
          <a (click)="reset()">Forgot password?</a>
        </div>
      </form>
    </ion-card>
  </div>
  
  <ion-footer>Designed By &#64; InnovationLab</ion-footer>
</ion-content>