html, body {
    height: fit-content;
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

ion-toolbar {
    --background: #562520;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Add padding for better spacing */
}

ion-toolbar ion-title{
    padding-right: 100px;
    font-size: medium;
}

ion-buttons {
    display: flex;
    align-items: center;
}

.content-background{
    --background: #054c5b;
}

.back-icon {
    --background: #562520;;
    color: white;
    padding: 8px;
    border-radius: 50%;
    transition: --background 0.3s ease-in-out, color 0.2s ease-in-out, border-radius 0.3s ease-in-out;
}

.back-icon:hover {
    --background: #054c5b;
    color: rgb(201, 145, 21);
    border-radius: 54%;
}

ion-title {
    padding: 10px 5px;
    margin: 5px 15px;
    color: white;
    text-align: center;
}

.blinking-eye {
    animation: blink-animation 3s infinite ease-in-out; /* Blink animation every 3 seconds */
}

@keyframes blink-animation {
    0%, 90%, 100% {
        opacity: 1; /* Fully visible */
    }
    95% {
        opacity: 0; /* Invisible (eye closed) */
    }
}

.diamond-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Spacing between diamonds and content */
    gap: 8px;
  }
  
  /* Diamond Shape Styling */
  /* Diamond Shape Styling */
.diamond {
    width: 50px;
    height: 50px;
    background-color: transparent;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    animation: changeColor 3s infinite; /* Add animation */
}

/* Define keyframes for color changes */
@keyframes changeColor {
    0% {
        background-color: #F8F9FA; /* White Diamond */
    }
    33% {
        background-color: #800000; /* Maroon Diamond */
    }
    66% {
        background-color: #FFCF33; /* Yellow Diamond */
    }
    100% {
        background-color: #F8F9FA; /* White Diamond */
    }
}

/* Specific Classes for Diamonds */
.white-diamond {
    animation-delay: 0s; /* Start immediately */
}

.maroon-diamond {
    animation-delay: 1s; /* Start after 1 second */
}

.yellow-diamond {
    animation-delay: 2s; /* Start after 2 seconds */
}


