<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <ion-title>Document Management</ion-title>
  </ion-toolbar>
  
  <div class="search-container">
    <ion-searchbar placeholder="Search documents..." (ionInput)="filterItems($event)" animated></ion-searchbar>
  </div>
</ion-header>

<ion-content>
  <div class="table-container">
    <!-- Table Header -->
    <div class="table-header">
      <div class="header-cell">Email</div>
      <div class="header-cell">Module</div>
      <div class="header-cell">Document Name</div>
      <div class="header-cell">Status</div>
      <div class="header-cell">Comment</div>
    </div>
    
    <!-- Table Body -->
    <div class="table-body">
      <div class="table-row" *ngFor="let item of filteredItems; let i = index" [ngClass]="{'odd': i % 2 !== 0}">
        <div class="table-cell">{{ item.email }}</div>
        <div class="table-cell">{{ item.module }}</div>
        <div class="table-cell">{{ item.documentName }}</div>
        <div class="table-cell status-cell">
          <ion-select interface="popover" [(ngModel)]="item.status" (ionChange)="onStatusChange(item)">
            <ion-select-option value="approved">Approved</ion-select-option>
            <ion-select-option value="declined">Declined</ion-select-option>
            <ion-select-option value="suspended">Suspended</ion-select-option>
          </ion-select>
        </div>
        <div class="table-cell comment-cell">
          <ion-input [(ngModel)]="item.comment" placeholder="Add comment"></ion-input>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="button-container">
    <ion-button color="medium" (click)="resetForm()">
      <ion-icon name="refresh-outline" slot="start"></ion-icon>
      Reset
    </ion-button>
    <ion-button color="primary" (click)="saveChanges()">
      <ion-icon name="save-outline" slot="start"></ion-icon>
      Save Changes
    </ion-button>
  </div>
</ion-footer>