<ion-header [translucent]="true">
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form-title">Rejection Reason</div> 
  <div class="diamond-container">
    <div class="diamond white-diamond"></div>
    <div class="diamond maroon-diamond"></div>
    <div class="diamond yellow-diamond"></div>
  </div>
  <div class="form-container">
    <div class="label-input-container">
      <ion-label class="form-label" position="floating">Date</ion-label>
      <ion-input class="text-input" type="date"></ion-input>
    </div>
    <div class="label-input-container">
      <ion-label class="form-label" position="floating">By Who</ion-label>
      <ion-input class="text-input" type="text"></ion-input>
    </div>
    <div class="label-input-container">
      <ion-label class="form-label" position="floating">Reason</ion-label>
      <ion-textarea class="text-input"></ion-textarea>
    </div>
  </div>
</ion-content>
