<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back-button" (click)="goBack()">Back</ion-button>
    </ion-buttons>
    <ion-title class="heading">View Rejections</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form-title">Document Evaluations Below</div>

  <!-- Diamond Container -->
  <div class="diamond-container">
    <div class="diamond white-diamond"></div>
    <div class="diamond maroon-diamond"></div>
    <div class="diamond yellow-diamond"></div>
  </div>

  <!-- Check if there are no declined documents -->
  <div *ngIf="showNoDocumentsCard && !getDocumentsToDisplay().length" class="no-documents">
    <div class="card">
      <div class="textBox">
        <div class="head">No Rejected Documents</div>
        <span>Please check back later.</span>
      </div>
      <br>
      <div class="🤚">
        <div class="👉"></div>
        <div class="👉"></div>
        <div class="👉"></div>
        <div class="👉"></div>
        <div class="🌴"></div>
        <div class="👍"></div>
      </div>
    </div>
  </div>

  <!-- Declined Documents Container -->
  <div *ngIf="!showNoDocumentsCard && getDocumentsToDisplay().length" class="declined-documents-wrapper">
    <div class="declined-documents-container1">
      <!-- Display documents in vertical groups of 3 -->
      <div class="document-list1">
        <div class="document-group1" *ngFor="let doc of getDocumentsToDisplay(); let i = index">
          <div class="card-wrapper">
            <div class="card1" (click)="toggleDetails(doc)">
              <div class="textBox">
                <div class="head"><strong>Document Name:</strong> {{ doc.documentName }}</div>
                <div class="text">
                  <p><strong>Email:</strong> {{ doc.email }}</p>
                  <p><strong>Upload Date:</strong> {{ doc.uploadDate }}</p>
                  <p><strong>Comment:</strong> {{ doc.comment }}</p>
                </div>
              </div>
            </div>

            <ion-card *ngIf="doc.showDetails" class="details-card" [@slideInOut]>
              <ion-card-header>
                <ion-card-title>Document Details</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p><strong>Date Declined:</strong> {{ doc.dateDeclined | date }}</p>
                <p><strong>By:</strong> {{ doc.declinedBy }}</p>
                <p><strong>Reason:</strong> {{ doc.reason }}</p>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
