.container {
  display: flex;
  height: 100%;
}

.div1 {
  margin-top: 80px;
  width: 300px;
  background-color: black;
  height: 87.5%;
  display: flex;
  flex-direction: column;
  border-radius: 1px;
}

.div1, .card1 {
  border-radius: 1px;
}

.card1 {
  flex: 1;
  margin-top: 20px;
  overflow: auto; 
}

.footer1 {
  border-color: #812B29;
  display: flex;
  justify-content: space-around; /* Space the buttons evenly */
  padding: 10px; /* Optional: Add some padding for better visual */
  background-color: #f8f5f3; /* Ensure footer is visible */
  position: sticky;
  bottom: 0; /* Stick to the bottom of the container */
}

.div2 {
  flex: 1; /* div2 will take the remaining space */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto; /* Ensure content can scroll if it overflows */
}

.swiper-container-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-button, .next-button {
  position: absolute;
  z-index: 10;
}

.prev-button {
  left: 10px; /* Adjust as needed */
}

.next-button {
  right: 10px; /* Adjust as needed */
}

swiper-container {
  width: 100%;
  height: 100%;
}

.footer1 ion-button {
  --background: #054c5b;
}

.Card ion-button {
  --background: #054c5b;
}

.prev-button, .next-button {
  --background: #054c5b;
}

.info-section {
  position: absolute;
  margin-top: 20px;
  left: 0;
  width: 100%;
  z-index: 10; 
  height: 60px;
  margin-left: 5px;
  background-color: whitesmoke;
}

.info-section {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
 
}

.info-section ion-card {
  margin: 0 10px; 
  background-color:#054c5b;
  color: white;
  padding: 10px; 
}




swiper-slide {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.Card {
  background-color: whitesmoke;
  height: 290px;
  width: 210px;
  text-align: center;
}

.menu-button {
  display: none;
}

@media (max-width: 768px) {
  .div1,
  .div2 {
    display: none;
  }

  .menu-button {
    display: block;
    position: fixed;
    top: 15px;
    left: 20px;
    z-index: 20;
  }

  .upload {
    --background:black;
    margin-left: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20;
  }

  .view {
    --background:black;
    margin-right: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 20;
  }

  

  .menu-buttons ion-button{
    font-size: 15px;
  }

  .vertical {
    margin: auto;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100%; 
    padding: 10px; 
  }

  .vertical .Card {
    margin-bottom: 30px;
    background-color: whitesmoke;
    height: 390px;
    width: 310px;
    text-align: center;
  }

  .Card ion-button {
    --background: #054c5b;
    font-size: 20px;
  }

  ion-card-subtitle, ion-card-content{
    font-size: 23px;
  }
  .Card label{
    font-size: 23px;
  }

  .info-section{
    display: none;
  }
}

@media (min-width: 769px) {
  .vertical {
    display: none;
  }

  .menu-buttons{
    display: none;
  }
}
