<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <div class="icon-container">
        <ion-icon  name="close-circle-outline" (click)="goBack()" class="backIcon"></ion-icon>
        <div class="tooltip">Logout</div>
      </div>
    </ion-buttons>
    
    
    <ion-title class="centered-label">External Moderator Processor</ion-title>
     
    <ion-buttons class="emailbutton" slot="start">
      <ion-button class="emailbutton" (click)="goToEmailPage()">Emails</ion-button>
    </ion-buttons>
    
  </ion-toolbar>

  

  <!-- Navigation Bar with Table Headers -->
  <ion-toolbar class="header-toolbar">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <div class="position" ><ion-icon name="briefcase-outline"></ion-icon> Position: {{ currentUserPosition }}</div>
        </ion-col>
        <ion-col size="2">
          <ion-router-link (click)="myDocs()" class="nav-header"><ion-icon name="documents-outline"></ion-icon> My Documents</ion-router-link>
        </ion-col>
        <ion-col size="2">
          <ion-router-link href="/rejection" class="nav-header"><ion-icon name="document-lock-outline"></ion-icon> Rejected Documents</ion-router-link>
        </ion-col>
        <ion-col size="2">
          <ion-router-link href="/status" class="nav-header"><ion-icon name="chevron-down-circle-outline"></ion-icon> No. Modules: {{ userModules.length }}</ion-router-link>
        </ion-col>
        <ion-col size="2">
          <ion-router-link href="/comment" class="nav-header"><ion-icon name="albums-outline"></ion-icon> Course</ion-router-link>
        </ion-col>
       
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" style="--background:#562520;">

 <div class="info-section">
<ion-card ><ion-icon name="book-outline"></ion-icon> Modules</ion-card>   
<ion-card><ion-icon name="trending-up-outline"></ion-icon> Progress Status</ion-card>
</div> 

<div class="container">
    

   <div class="menu-button">
    <ion-item>
      <ion-icon name="book-outline"></ion-icon>
     <ion-select  *ngFor="let document of documents$ | async">
      <ion-select-option class="option">{{document.module}}</ion-select-option>
      
     </ion-select>
     </ion-item>
    
  </div>

<!-- dashboard.page.html -->

<section class="div1" [ngClass]="{'show-menu': showMenu}">
  <div class="card1">
    <ul style="color: whitesmoke;">
      <li *ngFor="let module of userModules" (click)="onModuleClick(module)" style="cursor: pointer;">
        <ion-label>{{ module }}</ion-label>
      </li>
    </ul>
  </div>
  <div class="footer1">
    <ion-button (click)="Upload()"><ion-icon name="cloud-upload-outline"></ion-icon> Upload</ion-button>
    <ion-button (click)="View()"><ion-icon name="checkmark-done-circle-outline"></ion-icon> Approval</ion-button>
  </div>
</section>






    <section class="div2">
      <div class="swiper-container-wrapper">
        <ion-button class="prev-button" (click)="goPrev()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
        
        <swiper-container
          #swiper
          (slideChange)="swiperSlideChanged($event)"
          [loop]="true"
          [slidesPerView]="3"
          [slidesPerGroup]="1"
          [spaceBetween]="10"
          [pagination]="{ clickable: true }">
          
          <swiper-slide *ngFor="let roleData of rolesData">
            <ion-card class="Card">
              <br>
              <ion-card-subtitle>{{ roleData.role }}</ion-card-subtitle>
              <ion-card style="margin-top: 90px;">
                <ion-card-content>
                  {{ roleData.documentName }}
                </ion-card-content>
              </ion-card>
              <div style="margin-top: 70px;">
                <ion-button 
                  (click)="downloadDocument(roleData.url, roleData.role)" 
                  [disabled]="!canDownload(roleData.role)">
                  <ion-icon name="cloud-download"></ion-icon>
                </ion-button>
                <label>{{ roleData.status }}</label>
                <ion-button 
                  (click)="previewDocument(roleData.url, roleData.role)" 
                  [disabled]="!canView(roleData.role)">
                  <ion-icon name="eye"></ion-icon>
                </ion-button>
              </div>
            </ion-card>
          </swiper-slide>
        </swiper-container>
      
        <ion-button class="next-button" (click)="goNext()">
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
      
    </section>
  </div>

 
  </ion-content>


